:root{
    font-size: 15px;
    font-family: Roboto, sans-serif;

    --background-color: rgb(2, 2, 2);
    --first-color: rgb(255, 255, 255);
    --main-color: #008bad; 
  
}

body {
    background-color: var(--background-color);
    offset-anchor: 50%;
    padding: 0%;
    margin: 0%;
    scroll-behavior: smooth;
  }

  main section {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 20%;
    scroll-margin-top: 5em;
  }
  
  h2 {
    font-size: 30px;
  }
  
  h3 {
    font-size: 1.4rem;
  }
  
  h1,
  h2,
  h3 {    
    color: var(--font-color);
    font-family: Bebas Neue, sans-serif;
  }
  
  h1 {
    text-shadow: 2px 2px 4px black;
  }
  